.gradient {
 background-color: pink;
  background: linear-gradient(to right, #144047, #218999);


}
.quotebox {


 min-height: 10%;
 max-width: 1000px;
 margin-top: 1%;

}
.quote {
 padding-top : 40px;
 padding-bottom: 20px;
 padding-bottom: 50px;
 padding-left: 50px;
 padding-right: 50px;
 font-size: 18px;
 color: whitesmoke;

}
.title {
 padding-top: 1%;
 padding-bottom: 1%;
 font-family: 'Concert One', cursive;
 color: whitesmoke;
}

.buttons {
margin-top: 3%;
padding-top: 2%;

}

.sousTitre {
 font-family: 'Concert One', cursive;
 font-size: x-large;
 color: whitesmoke;
}

.footnote {
 padding: 100px;
 font-size: large;
 color: whitesmoke;
}

h1 {
 font-family: 'Concert One', cursive;
 color: whitesmoke;
}
